@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidebar-width: 240px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    background-color: var(--color-base2);
    font-family: 'Bai Jamjuree', sans-serif;
    /* font-family: 'Lato', sans-serif; */
    color: var(--color-body);
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.text-brand {
    color: var(--color-brand);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--color-brand);
}

.iconbox {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    background-color: var(--color-brand);
    color: var(--color-base);
}

.bg-base {
    background-color: var(--color-base);
}

a:hover {
    color: var(--color-brand);
}

.navbar {
    background-color: var(--color-base);
}

img {
    width: 100%;
}

/* navbar */

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link.active {
    color: var(--color-brand);
}

.navbar .nav-link:hover {
    color: var(--color-brand);
}

@media (min-width:992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidebar-width);
        background: linear-gradient(rgba(3, 63, 71, 0.8), rgba(3, 63, 71, 0.9)), url(../img/sidebar.jpg);
        /* background-color: red; */
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img {
        border: 8px solid var(--color-brand);
    }

    /* content wrapper */

    #content-wrapper {
        padding-left: var(--sidebar-width);
    }

}

/* btn */
.btn {
    padding: 1rem 2rem;
    font-weight: 700;

}

.btn-brand {
    background-color: var(--color-brand);
    color: var(--color-base);
    border-color: var(--color-brand);
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

.link-custom {
    font-weight: 700;
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}

/* card */

.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}

.skills .progress .skill {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #ebeef3;
}

.skills .progress .skill .val {
    float: right;
    font-style: normal;
    color: #cfbc68;
}

.skills .progress-bar-wrap {
    background: #5492e2;
    height: 10px;
}

.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: #08212c;
}

/* contact */

#contact .form-control {
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
}

#contact .form-control:focus {
    border-color: var(--color-brand);
    box-shadow: none;
}

#contact .form-group ::placeholder {
    color: var(--color-body);
}

#contact input.form-control {
    height: 3.5rem;
}

/* social icons */

.social-links a {
    width: 3rem;
    height: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 7rem;
    font-size: 1.5rem;
}

.social-links a:hover {
    background-color: var(--color-brand);
    color: var(--color-base);
}

